{% extends "userexperience/layout.html" %}
{% block title %}
Application Settings
{% endblock %}
{% block content %}
<p>Settings page for Narrative Flow Analysis.</p>
<form action="/settings/" method="post">
    {% csrf_token %}
    <label for="tika_url">Tika URL: </label>
    <input id="tika_url" placeholder="http://example.com" type="url" name="tika_url" size=40 value="{{ tika_url }}">
    </br>
    <label for="rest_url">Rest Services URL: </label>
    <input id="rest_url" placeholder="http://example.com" type="url" name="rest_url" size=40 value="{{ rest_url }}">
    <br><label for="window_size">Analysis window size</label>
    <input id="window_size" name="window_size" value="{{ window_size }}">
    <br><label for="window_slide">Analysis window slide</label>
    <input id="window_slide" name="window_slide" value="{{ window_slide }}">
    </br>
    <input type="submit" value="OK">
</form>
{% endblock %}