{% extends "userexperience/layout.html" %}
{% block title %}
Train
{% endblock %}
{% block content %}
<p>Training page for Narrative Flow Analysis.</p>
</br>
<p>Enter Text or Select File</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  
  {% if text %}
    <input type="checkbox" id="csv" name="csv" onclick="csv_clicked()">
    <label for="csv"> Treat CSVs files as Tables </label><br>
    
  {% else %}
    <input type="checkbox" id="csv" name="csv" onclick="csv_clicked()" checked>
    <label for="csv"> Treat CSVs files as Tables </label><br>
    
  {% endif %}
  <input type="file" name="myfile" id="myfile" onchange="getfile_changed()">
  <button type="submit" id="file_upload" name="file_upload" disabled>Get Text</button>
</form>
{% if uploaded_file_url %}
  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}
</br>


{% if text %}
<div id="text">
  <p>Text To Test</p>
  <textarea rows="20" cols="100">{{ result }} </textarea>
</div>

{% else %}
  <div id="text" style="display: none">
    <p>Text To Test</p>
    <textarea rows="20" cols="100">{{ result }} </textarea>
  </div>
  <div id="showtable">
    {% if table_data %}
      <h2 class="text-center"><u>Table Results</u></h2><br> 
      <table>
        <thead>
          <tr>
            <td>
              <input type="checkbox" name="column" onclick="column_clicked(this)">
              <label for="index"> {{index_name}} </label><br>
            </td>
            {% for c in column_names %}
              <td>
                <input type="checkbox" name="column" onclick="column_clicked(this)">
                <label for="index"> {{ c }} </label><br>
              </td>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for td in table_data %}
            <tr>
              {% for key, value in td.items %}
                <td><textarea rows=3 cols="100" name="{{key}}[]">{{ value }}</textarea></td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </div>
{% endif %}

<script type = "text/javascript">
function getfile_changed(){
  var btn_GetText = document.getElementById("file_upload");
  btn_GetText.disabled = false;
}
function column_clicked(col){
  var myCheckbox = document.getElementsByName("column");
  Array.prototype.forEach.call(myCheckbox,function(el){
    el.checked = false;
  });
  col.checked = true;
}

function csv_clicked() {
  var csv = document.getElementById("csv");
  var text = document.getElementById("text");
  var showtable = document.getElementById("showtable")
  if (csv.checked) {
    text.style.display = "none";
    showtable.style.display = "initial";
  }
  else {
    text.style.display = "initial";
    showtable.style.display = "none";
  }
}
</script>

<p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}