{% extends "userexperience/layout.html" %}
{% block title %}
Train
{% endblock %}
{% block content %}
<p>Training page for Narrative Flow Analysis.</p>
</br>
<p>Select CSV File for Training</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
  
  <input type="file" name="myfile" id="myfile" onchange="getfile_changed()">
  <button type="submit" id="file_upload" name="file_upload" disabled>Get Text</button>
</form>
{% if uploaded_file_url %}
  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}
</br>

<div id="text" style="display: none">
  <p>Text To Test</p>
  <textarea rows="20" cols="100">{{ result }} </textarea>
</div>
<div id="showtable">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {% if table_data %}
      <h2 class="text-center"><u>Table Results</u></h2><br>
      {% if first_view %}
        <p>Select Model to Use</p>
        <p>Select Column Which Contains the Text</p>
      {% endif %}
      <button type="submit" id="table_submit" name="table_submit" disabled>Clean Text</button>
      <input type="hidden" id="selected_column" name="selected_column">
      <table>
        <th id="csvheader">
          <tr>
            {% if first_view %}
              <td>
                <input type="checkbox" name="column_check" id="{{ index_name }}" onclick="column_clicked(this)">
                <label for="index"> {{index_name}} </label><br>
              </td>
              {% for c in column_names %}
                <td>
                  <input type="checkbox" name="column_check" id="{{ c }}" onclick="column_clicked(this)">
                  <label for="index"> {{ c }} </label><br>
                </td>
              {% endfor %}
            {% endif %}
            {% if cleaned %}
                <td>{{index_name}}</td>
            {% endif %}
          </tr>
        </th>
        <tbody>
          {% for td in table_data %}
            <tr>
              {% for key, value in td.items %}
              <td><textarea rows=3 cols="100" name="{{key}}_[{{forloop.parentloop.counter}}]">{{ value }}</textarea></td>
              {% endfor %}
            </tr>
          {% endfor %}          
        </tbody>
      </table>
    {% endif %}
  </form>
</div>

<script type = "text/javascript">
function getfile_changed(){
  var btn_GetText = document.getElementById("file_upload");
  btn_GetText.disabled = false;
}
function column_clicked(col){
  var myCheckbox = document.getElementsByName("column_check");
  var selected_column = document.getElementById("selected_column");
  var table_submit = document.getElementById("table_submit");
  Array.prototype.forEach.call(myCheckbox,function(el){
    el.checked = false;
  });
  col.checked = true;
  selected_column.value = col.getAttribute("id");
  table_submit.disabled = false;
}

function csv_clicked() {
  var csv = document.getElementById("csv");
  var text = document.getElementById("text");
  var showtable = document.getElementById("showtable")
  if (csv.checked) {
    text.style.display = "none";
    showtable.style.display = "initial";
  }
  else {
    text.style.display = "initial";
    showtable.style.display = "none";
  }
}
</script>

<p><a href="{% url 'home' %}">Return to home</a></p>
{% endblock %}